body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #F5E1DA;
    color: #2C2C2C;
}

header {
    background-color: #F7CAC9;
    padding: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #2C2C2C;
    color: white;
}
